:root {
  --level2ThemeColor: cornflowerblue;
  --level3ThemeColor: #f3f4f6;
  --formBackground: #fff;
  --sectionHeadingColor: blanchedAlmond;
}

#root {
  background-color: var(--level3ThemeColor);
  min-height: 100vh;
}

#mainContainer {
  width: 100%;
  display: grid;
  grid-template-columns: .75fr 1fr;
  padding: 20px 0;
}

/* Forms Styling */

#mainForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .form {
  background-color: var(--formBackground);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
} */

#personalDetailsForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#personalDetailsForm, #employmentHistory, #educationHistory {
  background-color: var(--formBackground);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}

.buttons {
  display: flex;
  /* grid-auto-flow: column; */
  justify-content: end;
  gap: 10px;
}

.personalDetailsUpdateButton {
  align-self: flex-end;
}

.addNewButton {
  margin: 10px 0;
}

/* Employment Section */

.employmentHistoryForms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.employmentForm, .educationForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dateInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.minimizedForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Education section */

.educationHistoryForms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educationForms {
  display: flex;
  flex-direction: column;
}

.inputField {
  display: grid;
  grid-template-rows: 1fr 1fr;
}


/* CVPreview Styling */

.resumePreview {
  background-color: var(--formBackground);
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 25px;
}

.personalDetails, .education, .employment {
  /* Change to percentage after */
  padding: 0 10px;
}

.sectionHeading {
  text-align: center;
  background-color: var(--sectionHeadingColor);

}

.personalDetails {
  background-color: var(--level2ThemeColor);
  display: grid;
  grid-template-rows: min-content min-content min-content;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 20px 0;
}

#contactDetails {
  display: flex;
  gap: 10px;
  text-align: center;
}



/* Employment */
.employmentGrouping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Education Section */

.educationGrouping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
