:root {
  --level2ThemeColor: cornflowerblue;
  --level3ThemeColor: #f3f4f6;
  --formBackground: #fff;
  --sectionHeadingColor: blanchedAlmond;
}

body {
  background-color: var(--level3ThemeColor);
}

#root {
  min-height: 100vh;
}

#mainContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: .25fr .75fr 1fr;
  padding: 20px 0;
}

/* Customizations Styling */
#customizationsMenu {
  width: 90%;
  max-height: 25%;
  margin: 0 auto;
  border: 1px solid red;
  background-color: var(--formBackground);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#marginsCustomization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Forms Styling */

#mainForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#personalDetailsForm, .employmentForm, .educationForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#personalDetailsForm, #employmentHistory, #educationHistory {
  background-color: var(--formBackground);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
}

.buttons {
  display: flex;
  /* grid-auto-flow: column; */
  justify-content: end;
  gap: 10px;
}

button {
  width: 70px;
  height: 30px;
}

#fontButtons {
  display: flex;
  flex-wrap: wrap;
}

.fontButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75px;
  /* width: 50px; */
}

.fontExample {
  font-size: 30px;
}

button:hover {
  transform: translateY(3px);
  box-shadow: 0 1px 0 #357ab8;
  cursor: pointer;
}

.personalDetailsUpdateButton {
  align-self: flex-end;
}

.addNewButton {
  margin: 10px 0;
}

.deleteButton {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.required {
  color: red;
}

/* Employment Section */

.employmentHistoryForms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .employmentForm, .educationForm, .minimizedForm {
  border: 1px solid black;
  border-radius: 10px;
} */

.employmentFormDetails, .educationFormDetails {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

textarea {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  resize: vertical;          
  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap;     
}

.minimizedForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Education section */

.educationHistoryForms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.educationForms {
  display: flex;
  flex-direction: column;
}

.inputField {
  display: grid;
  gap: 5px;
  /* grid-template-rows: 1fr 1fr; */
}

input[type="text"], input[type="tel"], input[type="email"], input[type="date"] {
  padding: 5px;
  border-radius: 10px;
}

.dateInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr));  */
}

.presentInputField {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


/* CVPreview Styling */

.resumePreview {
  background-color: var(--formBackground);
  width: 90%;
}

.resumeInner {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 25px; /* default vertical spacing */
}

.personalDetails, .education, .employment {
  /* Change to percentage after */
  /* padding: 0 10px; */
}

.sectionHeading {
  text-align: center;
  background-color: var(--sectionHeadingColor);

}

.personalDetails {
  background-color: var(--level2ThemeColor);
  display: grid;
  grid-template-rows: min-content min-content min-content;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 20px 0;
}

#contactDetails {
  display: flex;
  gap: 10px;
  text-align: center;
}

.contactDetailContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Employment */
.employmentGrouping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Education Section */

.educationGrouping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
